{# {% extends "blocks.html" %} #}
{% load static from staticfiles %}

{% block contenido %}
{% if personas %}
<table id="tabla" class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th>Fecha de Nacimiento</th>
			<th>Activo</th>
			<th>Descripcion</th>
		</tr>
	</thead>
	<tbody>
		{% for persona in personas %}
		<tr>
			<th>{{persona.id}}</th>
			<td>{{persona.nombres}}</td>
			<td>{{persona.apellidos}}</td>
			<td>{{persona.fnac}}</td>
			<td>{{persona.isActivo}}</td>
			<td>{{persona.descripcion}}</td><!--href='formulario/?id_obj={{persona.id}}'-->
			<td><a href="#" class="btnEditar btn btn-info" role="button" nro='{{persona.id}}'>Editar</a></td>
			<td><a href="#" class="btnEliminar btn btn-danger" role="button" nro='{{persona.id}}'>Eliminar</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h1>No hay registros</h1>
{% endif %}

{% endblock contenido %}



{% block scripts %}
<script src="{% static 'js/persona/tabla.js' %}" rel="text/javascript"></script>
{% endblock scripts %}