{% extends "base.html" %}
{% load static from staticfiles %}

{% block titulo %}
Persona
{% endblock titulo %}

{% block contenido %}
<!-- Modal -->
<div id="modal" class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="btnGuardar" type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Personas</div>
	<div class="panel-body">
        {# <label class="">Buscar</label> #}
        <form class="form-inline">
          	<input id="criterio" type="text" class="form-control" placeholder="Nombre">
        	<button type="submit" class="btn btn-default btnBuscarPersona">Buscar</button>
        </form>

		<!-- Button trigger modal -->
		<br>
		<button id="btnNuevo" type="button" class="btn btn-success" data-toggle="modal" data-target="#modal">
			Nuevo
		</button>

            <button id="btnLimpiarTabla" type="button" class="btn btn-danger">
                Limpiar Tabla
            </button>

		<div id="loader" class="text-center">
			<img src="{% static "img/ajax-loader.gif" %}">
		</div>

		<div id="divTabla">
		{% include "persona/_tabla.html" %}
		</div>
	</div>
</div>

{% endblock contenido %}

{% block scripts %}
<script src="{% static 'js/persona/persona.js' %}" rel="text/javascript"></script>
<script src="{% static 'js/persona/tabla.js' %}" rel="text/javascript"></script>
{% endblock scripts %}